<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="/aws" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="c:\Program Files\Python311\python.exe"
                  arguments="-m flask run  --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="c:\inetpub\SamanaAws\Logs\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="3">
      <environmentVariables>
		<environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="FLASK_APP" value="c:\inetpub\SamanaAws\src\app.py" />
		<environmentVariable name="PYTHONPATH" value="c:\inetpub\SamanaAws\lib\site-packages" />
		<environmentVariable name="AWS_SHARED_CREDENTIALS_FILE" value="c:\inetpub\SamanaAws\Profile\credentials" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
